.footer {
  padding-top: 60px;
  font-weight: 400;
  size: 16px;
  line-height: 16px;
  color: #212121;
  opacity: 70%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .footer {
    padding-bottom: 60px;
  }
}
