.footer {
  margin: 0;
  padding: 60px 0 60px;
  font-weight: 400;
  size: 16px;
  line-height: 16px;
  color: #212121;
  opacity: 70%;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin: 0;
}

@media screen and (max-width: 627px) {
  .footer {
    padding: 60px 0 60px;
  }
}
